<div ng-controller="entryController">
  <div class="container entry-details">
  <h1>Data Entry Screen</h1>
  <x></x>
  <form name="userFrom" required>
  <div class="data-entry">
	<div class="row">
		
		
		<div class="col-md-2">
			<div class="form-group" >
				
				<input type="number" ng-change="addproduct(product)" ng-model="product.productId" name="prodCode" id="prodCode" placeholder="Product" class="form-control"  ng-maxlength="2"   required>
				<span ng-show="empty" style="color:red">Please enter a Product Id</span>
				<span ng-show="inValid" style="color:red;">Product with this Id does not exists</span>
			</div>
		</div>
		<div class="col-md-2">	
			<div class="form-group" >
				<strong>Product Name:</strong>&nbsp;<p ng-bind="product.productName"></p>
			</div>
		</div>		
		<div class="col-md-2">	
			<div class="form-group" >
				<strong>Product Details:</strong>&nbsp;<p ng-bind="product.productDetails"></p>
			</div>
		</div>
		<div class="col-md-2">	
			<div class="form-group" >
				<input type="text" ng-model="product.productQuantity" ng-change="changeQuantity(product)" name="quantity" id="quantity" placeholder="Quantity" class="form-control"   required>
			</div>
		</div>
		<div class="col-md-2">	
			<div class="form-group" >
				<strong>Price/Unit :</strong>&nbsp;<p>{{product.shipingCost | currency:" Rs "}}</p>
			</div>		

		</div>

		<div class="col-md-2">
			<div class="form-group" >
				<strong>Total Cost :</strong>&nbsp;<p >{{product.totalCost | currency:" Rs "}}</p>
			</div>		

		</div>	
		<div class="addbtn">
			<div class='col-md-offset-10 col-md-2'>
					<button type='button' ng-click='addData()' class='newproduct btn btn-primary'>
					Add New Product + </button>
			</div>

		</div>																
	</div>
	<hr>
	<table class="table responsive">
		<thead>
			<th>Product ID</th>
			<th>Product Name</th>
			<th>Product Details</th>
			<th>Quantity</th>
			<th>Price/Unit</th>
			<th>Total Cost</th>
			

		</thead>
		<tbody class="productdatails">
			<tr ng-repeat="productdata in dataCollection">
				<td>{{productdata.Id}}</td>
				<td>{{productdata.Name}}</td>
				<td>{{productdata.Details}}</td>
				<td>{{productdata.Quantity}}</td>
				<td>{{productdata.Cost}}</td>
				<td>{{productdata.finalCost}}</td>

			</tr>
		</tbody>
	</table>
	<hr>				
	<div class="row">
		<div class="col-md-offset-10 col-md-2">Total Price :  <p class="totalprice">{{bill | currency:"&#8377"}}</p></div>
	</div>
	<div class="row">
		<div class="col-md-offset-10 col-md-2"><button type="button" class="btn btn-primary btn-lg">Submit</button>
		</div>

  	</div>
  				
  </div>
  </form>
</div>