    
        <div ng-controller="loginController">
            <form name="myForm">
				<div class="container">
					<div class="registerpage">
						<div class="jumbotron col-md-6 col-md-offset-3">
							<h2>Login</h2>
								<div class="form-group" >
									<label for="username">UserID</label>
									<input type="text" ng-model="username" name="name" id="username" class="form-control"   required>
									<span ng-show="myForm.name.$touched && myForm.name.$invalid">The name is required.</span>
								</div>
								<div class="form-group" >
									<label for="password">Password</label>
									<input type="password" name="password" ng-model="password" id="password" class="form-control" required>
									<span ng-show="myForm.password.$touched && myForm.password.$invalid">password is required.</span>
								</div>
								<input type="checkbox" onclick="remember();" >Remember
								<div>
									<a href="" ng-click="login()" ><button type="submit" class="btn btn-primary" >Login</button></a>
								</div>
						</div>
					</div>
				</div>            
            </form>
        </div>